
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap'); 
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    font-size: 16px;
    font-family: 'Rubik',sans-serif;
    background-color: hsl(270, 40%, 96%);
  }

.purple{ 
    position: absolute;
    width: 510px;
    height: 1018px;
    left: -90px;
    top: -318px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    border-radius: 255px;
    z-index: -1;
  }

  .mobile{
    width: 320px;
    height: 635px;
    border: 14px solid #fff;
    border-radius: 32px;
    margin-top: 200px;
    margin-left: 360px;
    box-shadow: 0px 10px 20px hsl(206, 6%, 79%); 
  }

  .header{
    height: 90px;
    width: 291px;
    background: linear-gradient(to right, hsl(264, 100%, 61%),hsl(293,100%,63%));
    border-radius: 20px 20px 10px 10px;
}

.header::before{
    content: '';
    position: absolute;
    top: 200px;
    left: 450px;
    width: 150px;
    height: 34px;
    background-color: #fff;
    border-radius: 0px 0px 16px 16px;
}

.descript{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px  0px;
    margin: 0px -20px;
}

.chevron{
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
    opacity: 0.9;
}

.div-3::before{
    content: '';
    position: absolute;
    top: -8px;
    left: 0px;
    width: 4px;
    background-color: #fff;
    transform: skew(-28deg,0deg);
}

.div-3::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    background-color: #fff;
    transform: skew(28deg,0deg);
}

.avatar img{
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 2px solid #fff;
  }
  
  .div-name{
    color: #fff;
    margin: 0px 15px;
    font-size: 18px;
    font-weight: 500;
  }

  .div-status{
    font-size: 14px;
    color: #fff;
    opacity: 0.3;
    font-weight: 300;
    margin-left: 16px;
  }

  .div-dot{
    position: absolute;
    width: 4px;
    height: 4px;
    margin-left: 280px;
    background-color: #fff;
    border-radius: 50%;
  }


  .div-dot::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 0px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
  }

  .div-dot::after{
    content: '';
    position: absolute;
    top: 6px;
    left: 0px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
  }

  .div-message{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px;
    font-size: 12px;
    border-radius: 10px 10px 20px 20px;
  }

  .attribution { 
    font-size: 11px; 
    text-align: center; 
}

    .attribution a { 
    color: hsl(228, 45%, 44%); 
    }